@tailwind base;
@tailwind components;
@tailwind utilities;



  
  /**************/
  /* Ginto-Nord */
  /**************/
  
  @font-face {
    font-family: GintoNord;
    font-weight: 500;
    src: url(fonts/Ginto-Nord/Ginto-Nord-500.woff2) format("woff2"),
      url(fonts/Ginto-Nord/Ginto-Nord-500.woff) format("woff");
  }
  
  @font-face {
    font-family: GintoNord;
    font-weight: 600;
    src: url(fonts/Ginto-Nord/Ginto-Nord-600.woff2) format("woff2"),
      url(fonts/Ginto-Nord/Ginto-Nord-600.woff) format("woff");
  }
  
  @font-face {
    font-family: GintoNord;
    font-weight: 700;
    src: url(fonts/Ginto-Nord/Ginto-Nord-700.woff2) format("woff2"),
      url(fonts/Ginto-Nord/Ginto-Nord-700.woff) format("woff");
  }
  
  /***************/
  /*   gg sans   */
  /***************/
  @font-face {
    font-family: "ggSans";
    font-weight: 400;
    src: url(fonts/gg-sans/ggsans-Normal.ttf);
  }
  @font-face {
    font-family: "ggSans";
    font-weight: 500;
    src: url(fonts/gg-sans/ggsans-Medium.ttf);
  }
  @font-face {
    font-family: "ggSans";
    font-weight: 600;
    src: url(fonts/gg-sans/ggsans-Semibold.ttf);
  }
  @font-face {
    font-family: "ggSans";
    font-weight: 700;
    src: url(fonts/gg-sans/ggsans-Bold.ttf);
  }
  